<div class="card"> 
  <div class="card-header">
    Get the list of keywords mapping
  </div>       
      <div class="card-body">
          <h4 class="card-title">Keywords Collection</h4>
          <div *ngIf="!keywordslist" class="text-info"></div>
          <table class="table table-striped table-responsive" aria-labelledby="tableLabel" *ngIf="keywordslist">
            <thead>
              <tr class="table-dark">
           
                <th>Keyword Name</th>
                <th>Promo Documents</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let keyworddetails of keywordslist">
             
                <td>{{ keyworddetails.keyword }}</td>
                <td>{{ keyworddetails.promoDocDesc }}</td>
                <td><a [routerLink]="['edit', keyworddetails.keywordID]" class="btn btn-dark">Update</a>
                  
                  <button (click) = "deleteKeyword(keyworddetails.keywordID)" type="submit" class="btn btn-danger">
                    Delete
                  </button>
              
              </tr>
            </tbody>
          </table>
      </div>
    
    </div>
    
    
    
    
    