

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-between"  >
    <a class="navbar-brand" routerLink="keywords" >
     Admin Web App
    </a>
  
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="keywords" class="nav-link" routerLinkActive="active">
            Keyword List
          </a>
        </li> 
        <li class="nav-item active">
          <a routerLink="keywords/add" class="nav-link" routerLinkActive="active">
            Add Keyword
          </a>
        </li> 
        <li class="nav-item active">
          <a routerLink="keywords/search/:" class="nav-link" routerLinkActive="active">
            Search Keyword
          </a>
        </li> 
      </ul>
    </div>
  </nav>
